@import "./_variables.scss";

.menu {
  position: sticky;
  top: 42px;

  display: none;
  height: 100vh;
  width: 70%;
  left: 30%;
  z-index: 2;
  background-color: rgba(238, 238, 238, 0.98);

  .menu-items {
    margin: 0;
    padding: 0;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-center;
      align-items: center;

      li {
        font-size: 1.2em;
        font-weight: bold;
        margin: 2em;

        a {
          text-decoration: inherit;
          color: inherit;
          cursor: pointer;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }

    .social-options {
      width: 70%;
      display: flex !important;
      justify-content: space-around;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.menu.open {
  display: block;
  animation: fadeIn 0.3s;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 9;

  .menu-btn__burger {
    width: 20px;
    height: 4px;
    background: black;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(107, 107, 107, 0.2);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 4px;
      background: black;
      border-radius: 2px;
      transition: all 0.5s ease-in-out;
      box-shadow: 0 2px 5px rgba(107, 107, 107, 0.2);
    }

    &::before {
      transform: translateY(-9px);
    }

    &::after {
      transform: translateY(9px);
    }
  }
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
