@import "./_variables.scss";

.to-top-button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    width: 55px;
    height: 55px;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: $accent-color; /* Set a background color */
    color: $base-color; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50%; /* Rounded corners */
    font-size: 25px; /* Increase font size */
  }
  
  .top-button-icon {
    border: solid $base-color;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
  }
  
  @media (hover: hover) {
    .to-top-button:hover:focus:active {
      background-color: $secondary-color; /* Add a dark-grey background on hover */
    }
  }