html,
body {
  font-family: "Nunito", sans-serif;
  background-color: #eee;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-bar {
  width: 100%;
  display: inline-block;
  margin: .2rem 1rem;
}

header .nav-bar .logo {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  display: inline-block;
  margin-left: 0 0.4rem 0 0;
}

header .nav-bar .logo a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

header .nav-bar .logo a:hover {
  color: red;
}

header .nav-bar .nav-items {
  margin: 0;
  padding: 0;
  float: right;
}

header .nav-bar .nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .nav-bar .nav-items ul li {
  margin: .5rem;
  font-weight: bold;
}

header .nav-bar .nav-items ul li a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

header .nav-bar .nav-items ul li a:hover {
  color: red;
}

.container {
  margin: 2rem;
  padding: 0;
}

.container .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container .hero img {
  display: inline-block;
  width: 300px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.container .hero .hero-description {
  display: inline-block;
  text-align: left;
  max-width: 600px;
}

.container .hero .hero-description h1 {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.container .hero .hero-description p {
  font-size: 1.3rem;
}

.container section {
  width: 100%;
}

.container section h1 {
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.container section summary {
  padding: 1em;
  border-radius: .5em;
  color: #eee;
  background-color: rgba(31, 29, 29, 0.911);
  font-weight: bold;
  margin-bottom: 1em;
  outline: none;
  cursor: pointer;
}

.container section summary:hover {
  background-color: rgba(51, 48, 48, 0.911);
}

.container section details[open] summary ~ * {
  -webkit-animation: sweep .5s ease-in-out;
          animation: sweep .5s ease-in-out;
}

@-webkit-keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

footer {
  color: #eee;
  padding: 1.5rem;
  background-color: #1f1d1d;
}

footer .social-contact {
  text-align: center;
}

footer .social-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-contact ul li {
  margin: .7rem;
  font-weight: bold;
}

footer .social-contact ul li a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

footer .social-contact ul li a:hover {
  color: red;
}

footer p {
  font-style: italic;
}
/*# sourceMappingURL=main.css.map */