html,
body {
  font-family: "Nunito", sans-serif;
  background-color: #eee;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;

  .nav-bar {
    width: 100%;
    display: inline-block;
    margin: 0.2rem 1rem;

    .logo {
      font-family: "Lobster", cursive;
      font-size: 2rem;
      display: inline-block;
      margin-left: 0 0.4rem 0 0;

      a {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;

        &:hover {
          color: #815ab3;
        }
      }

      .logo-init {
        color: #815ab3;
      }
    }

    .nav-items {
      margin: 0;
      padding: 0;
      float: right;

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: flex-end;

        li {
          margin: 0.5rem;
          font-weight: bold;
          margin-left: 1.7em;
          margin-right: 1.7em;

          a {
            text-decoration: inherit;
            color: inherit;
            cursor: pointer;

            &:hover {
              color: #815ab3;
            }
          }
        }
      }
    }
  }
}

.container {
  margin: 2rem;
  padding: 0;

  .hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;

    img {
      display: inline-block;
      width: 300px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    }

    .hero-description {
      display: inline-block;
      text-align: left;
      max-width: 600px;

      h1 {
        font-size: 1.8rem;
        margin-bottom: 1em;
      }

      p {
        font-size: 1.3rem;
      }
    }
  }

  section {
    width: 100%;
    h1 {
      font-size: 2rem;
      margin-bottom: 1em;
    }

    h2::first-letter {
      color: #815ab3;
    }
  }

  .about {
    summary {
      padding: 1em;
      border-radius: 0.5em;
      color: #eee;
      background-color: rgba(31, 29, 29, 0.911);
      font-weight: bold;
      margin-bottom: 1em;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: rgb(129, 90, 179);
      }
    }

    details[open] summary ~ * {
      animation: sweep 0.5s ease-in-out;
    }

    @keyframes sweep {
      from {
        opacity: 0;
        margin-top: -10px;
      }

      to {
        opacity: 1;
        margin-top: 0;
      }
    }
  }
}

.contact {
  .form-container {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 6rem;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: space-around;
      width: 350px;

      .invalid-input {
        border-bottom: 1px solid red;
      }

      button {
        margin: 15px 0;
        padding: 0.7em;
        border-radius: 0.5em;
        border: none;
        color: #eee;
        font-weight: bold;
        background-color: #815ab3;
      }

      button:hover {
        background-color: rgba(31, 29, 29, 0.76);
      }

      label {
        font-weight: bold;
        margin-bottom: 0.2em;
      }

      input {
        border-radius: 0.5em;
        border: none;
        margin-bottom: 1em;
        height: 2.2em;
      }

      textarea {
        border-radius: 0.5em;
        border: none;
        height: 10em;
        margin-bottom: 1em;
      }
    }
  }
}

footer {
  color: #eee;
  padding: 1.5rem;
  background-color: rgb(31, 29, 29);

  .social-contact {
    text-align: center;

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: center;

      li {
        margin: 0.7rem;
        font-weight: bold;

        a {
          text-decoration: inherit;
          color: inherit;
          cursor: pointer;

          &:hover {
            color: #815ab3;
          }
        }
      }
    }
  }

  p {
    font-style: italic;
  }
}

@media (max-width: 550px) {
  .hide-on-mobile {
    display: none;
  }
  .form-container {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .nav-items ul li {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }
}

.toTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  width: 55px;
  height: 55px;
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #815ab3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 50%; /* Rounded corners */
  font-size: 25px; /* Increase font size */
}

@media (hover: hover) {
  .toTopButton:hover {
    background-color: rgb(31, 29, 29); /* Add a dark-grey background on hover */
  }
}
